// $chart-background-color: #fbfcff;
 $chart-background-color: #FFF;
$muted-text-color: #4f4d4d;
$border-color: #ececec;
$app-background-color: #faf9fa;
$summary-container-background-color: #fff;
$default-print-background-color: #fff;
$default-print-color: #444;
$success-color: #1d771d;
$header-height: 52px;

html {
  scrollbar-gutter: stable; /* Reserve space to prevent shifts */
}

html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Roboto", sans-serif;
  font-size: 14px !important;
  background-color: $app-background-color;
}
main {
  min-height: calc(100vh - $header-height);
  overflow-x: hidden;
  background-color: $app-background-color;
}
@media (min-width: 1200px) {
  main {
    overflow-x: auto;
  }
}
.print-only {
  display: none;
}
.summaries {
  padding: 8px 16px;
}

a {
  word-wrap: break-word;
}

p {
  line-height: 1.5;
}
.chart__container {
  background-color: $chart-background-color;
}
.response-table {
  min-width: 45%;
  max-width: 100%;
}
@media (min-width: 600px) {
  .response-table {
    max-width: 50%;
  }
}

.ghost {
  visibility: hidden;
  &.logo {
    width: 40px;
  }
}
.invisible {
  display: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.flex {
  display: flex !important;
}
.muted-text {
  color: $muted-text-color;
}
.capitalized-text {
  text-transform: capitalize;
}
.no-wrap-text {
  white-space: nowrap;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-success {
  color: $success-color;
}
.text-warning {
  color: #ed6c02;
}
.text-error {
  color: rgb(133, 7, 7);
}
.MuiTable-root {
  border-collapse: separate !important;
  border-spacing: 0 !important;
  thead {
    th:first-of-type {
      z-index: 999 !important;
      left: 0;
    }
  }
}
.questionnaire-title::first-letter {
  text-transform: capitalize;
}
.responses-container {
  position: relative;
  .table-root {
    div div div {
      max-height: calc(100vh - 120px);
    }
  }
}

.MuiButton-contained,
.MuiButton-outlined {
  border-radius: 24px !important;
}

.MuiTablePagination-toolbar {
  .MuiTablePagination-input {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.recharts-legend-item-text {
  white-space: nowrap;
  color: rgb(120, 40, 31);
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.recharts-legend-wrapper {
  font-size: 0.8rem;
}
.multiple {
  .recharts-legend-wrapper {
    li {
      padding: 2px 12px 2px 6px;
      border-radius: 8px;
      box-shadow: 1px 1px 2px #ececec;
      margin-bottom: 4px;
      cursor: pointer;
      position: relative;
      z-index: 2;
      &::after {
        content: "✓";
        font-size: 0.6rem;
        content: "\2713";
        position: absolute;
        z-index: 1;
        bottom: 10px;
        top: 25%;
        left: 92%;
        transform: translateX(-50%);
        // width: 6px;
        // height: 6px;
        // border: 1px solid #777;
        // border-radius: 50%;
        opacity: 0.4;
      }
      &.inactive::after {
        content: "\00d7";
        width: 0;
        height: 0;
        border: 0;
        top: 25%;
        left: 90%;
        bottom: 0;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.recharts-default-legend {
  line-height: 1.8;
}

@media print {
  @page {
    margin: 2mm 2mm 2mm 2mm;
  }
  .summaries {
    background-color: $summary-container-background-color;
    h3 {
      font-size: 1rem;
    }
  }
  .scoring-summary-table {
    // page-break-after: always;
    overflow: auto;
  }
  .print-hidden {
    display: none !important;
  }
  .print-only {
    display: block;
  }
  .selector-stats-wrapper {
    background-color: $default-print-background-color !important;
    margin-top: 8px !important;
    margin-bottom: 16px !important;
    padding: 0 !important;
  }
  header {
    background-color: $default-print-background-color !important;
    box-shadow: none !important;
    border-bottom: 1px solid #777 !important;
  }
  .scoring-summary-container {
    padding: 0 !important;
    page-break-inside: avoid;
    th,
    td {
      position: relative !important;
      width: auto !important;
      left: 0 !important;
      min-height: auto !important;
    }
  }
  .chart__container {
    height: auto !important;
    width: 100% !important;
    background-color: $default-print-background-color !important;
  }
  .table-container {
    width: 100% !important;
    min-width: 100% !important;
    margin-left: 0 !important;
    table {
      th,
      td {
        white-space: normal !important;
      }
    }
  }
  .recharts-responsive-container,
  .recharts-legend-item {
    box-shadow: none !important;
    &:after {
      display: none;
    }
  }
  .recharts-responsive-container {
    border: 1px solid #ececec;
    min-height: auto !important;
  }
  .recharts-legend-wrapper {
    left: 4px !important;
    min-height: auto !important;
    li {
      box-shadow: none;
      padding: 0;
    }
  }
  .score-summary-wrapper {
    .recharts-legend-wrapper {
       top: 8px !important;
    }
  }
  .recharts-legend-item-text {
    font-size: 10px;
  }
  .questionnaire-title-container {
    width: 100%;
    .questionnaire-title {
      font-size: 0.95rem;
      border-bottom: 1px solid $default-print-color !important;
      width: 100%;
    }
  }
  // .accordion-wrapper:not(:last-of-type),
  // .summary-container:not(:last-of-type) {
  //   page-break-after: always;
  // }
  .accordion-wrapper:not(:last-of-type),
  .summary-container:not(:last-of-type) {
    page-break-after: always;
  }
  .MuiToolbar-root {
    background-color: $default-print-background-color !important;
    box-shadow: none !important;
  }
  .response-summary {
    flex-wrap: wrap !important;
  }
  .error-container {
    h1,
    h2,
    h3,
    h4 {
      font-size: 1rem;
    }
  }
  .MuiTablePagination-toolbar,
  .MuiPopper-root {
    display: none !important;
  }
  .MuiAccordion-root {
    box-shadow: none !important;
    table {
      display: table;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      th,
      td {
        border: 1px solid $border-color;
        text-align: center;
        background-color: $summary-container-background-color !important;
        color: $default-print-color !important;
        padding: 4px;
      }
      td:empty {
        border-bottom: 0 !important;
      }
    }
  }
  .MuiAccordionSummary-root {
    padding: 0 !important;
    background-color: transparent !important;
    color: #444 !important;
    svg {
      display: none !important;
    }
  }
  .MuiAccordionDetails-root {
    padding: 8px 0 !important;
  }
  .summary {
    display: block;
  }
  .table-container {
    border: 0 !important;
    box-shadow: none !important;
  }
  .MuiTab-root.Mui-selected {
    color: #444 !important;
    padding-bottom: 0 !important;
    border-bottom: 2px solid $border-color;
  }
  .MuiTabs-indicator {
    background-color: transparent !important;
  }
}

@property --progress {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

@keyframes progress {
  0% {
    --progress: 0%;
  }

  100% {
    --progress: 100%;
  }
}

.back-to-top {
  --accent: #e5e9e8;
  --white: oklch(100% 0 0);
  background-image: linear-gradient(var(--accent) 0% var(--progress), var(--white) var(--progress) 100%);
  animation: progress linear;
  animation-timeline: scroll();
}
