$container-background-color: #f4f6f6;
$muted-text-color: #777;
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.summaries {
  margin-top: 80px;
  padding: 24px;
}
@media(min-width: 640px) {
  .summaries {
    margin-top: 64px;
  }
}
p {
  line-height: 1.5;
}
.chart__container {
  background-color: $container-background-color;
}
.response-table {
  min-width: 45%;
  max-width: 100%;
}
@media (min-width: 600px) {
  .response-table {
    max-width: 50%;
  }
}

.invisible {
  display: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.flex {
  display: flex !important;
}
.muted-text {
  color: $muted-text-color;
}